body{
	background:url(bodybg.jpg)
}
.registerbox{
	width:400px;
	background:white;
	padding:25px;
	margin:auto;
	margin-top:150px;
	border-radius:6px;
	box-shadow:1px 0px 38px #fb5200;
	text-align:center;

}
.registerbox h1{
	text-align:center;
}
.registerbox input{
	padding:20px;
	width:88%;
	margin:10px;
	background:#ddd;
	color:gray;
	outline:none;
	border:none;
	margin-top:20px;
	border-radius:4px;
}
.submit{
	text-align:center;
}

.submit span{
	color#9c8787 !important;
}
.LOGIN:hover{
	background:linear-gradient(red,blue,black)!important;
	color:white;
	transition:.3s;
}
a{
	color:green;
	text-decoration:none
}
a:hover{
	color:red
}
.LOGIN{
	background:orange !important;
	color:white!important;
	width:95% !important;
	font-size:20px;
	cursor:pointer;
	transition:.3s;
	
}